Dockerfile
.git
.gitignore
.DS_Store
.ipynb_checkpoints
__pycache__
.venv
tests
list_report
Gene_list_predictions
user_seq
user_list_seq
UCS
AAC_values
main_flow.ipynb
HelixHarbor_installation_guide.pdf
amino_acid_values-3.numbers
tmbed/.git
tmbed/data
tmbed/examples
tmbed/tmbed/models
