.DS_Store
.ipynb_checkpoints/
__pycache__/
*.py[cod]

.venv/
.env
.env.*

AAC_values/AAC_values_helixharbor.tsv
Gene_list_predictions/sequence_output.tsv
list_report/*.tsv
user_seq/*.fasta
user_list_seq/*.fasta
UCS/*.csv

tmbed/.git/
tmbed/.DS_Store
tmbed/data/
tmbed/examples/
tmbed/tmbed/models/
tmbed/tmbed/__pycache__/

/main_flow.ipynb
/HelixHarbor_installation_guide.pdf
/amino_acid_values-3.numbers
/test.csv
